/* Variables para colores "modo light" */

:root {
    --color1: #f3f5fc;
    --color2: black;
    --color3: #0A3871;
    --color4: #495057;
    --color5: #eff1fa;
    --color6: #ffffff;
    --color7: #343A40;
}

/* Variables para colores "modo dark" */

@media (prefers-color-scheme: dark) {
    :root {
        --color1: #1a1a1a;
        --color2: #ffffff;
        --color3: #ffffff;
        --color4: #c7c7c7;
        --color5: #3c3c3c;
        --color6: #252525;
        --color7: #ffffff;
    }
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 767px) {
    :root {
        font-size: calc(8px + 0.5vw);
    }
}

/* Estilos para tabletas */

@media screen and (max-width: 1023px) and (min-width: 768px) {
    :root {
        font-size: calc(10px + 0.5vw);
    }
}

/* Estilos para dispositivos de escritorio */

@media screen and (min-width: 1024px) {
    :root {
        font-size: 16px;
    }
}

/* Otros Estilos comunes */

body {
    font-family: 'Inter', sans-serif;
}