/* Variables para colores "modo light" */

:root {
    --back: #f3f5fc;
    --front: black;
    --front-textarea: #0A3871;
    --front-info: #495057;
    --back-hover: #eff1fa;
    --back-rectangle: #ffffff;
    --front-error: #343A40;
}

/* Variables para colores "modo dark" */

@media (prefers-color-scheme: dark) {
    :root {
        --back: #1a1a1a;
        --front: #ffffff;
        --front-textarea: #ffffff;
        --front-info: #c7c7c7;
        --back-hover: #3c3c3c;
        --back-rectangle: #252525;
        --front-error: #ffffff;
    }
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 767px) {
    :root {
        font-size: calc(8px + 0.5vw);
    }
}

/* Estilos para tabletas */

@media screen and (max-width: 1023px) and (min-width: 768px) {
    :root {
        font-size: calc(10px + 0.5vw);
    }
}

/* Estilos para dispositivos de escritorio */

@media screen and (min-width: 1024px) {
    :root {
        font-size: 16px;
    }
}

/* Otros Estilos comunes */

body {
    font-family: 'Inter', sans-serif;
    background: var(--back);
    color: var(--front);
 }