/* Modo light */

:root {
    font-size: 16px;

    --color1: #f3f5fc;
    --color2: black;
    --color3: #0A3871;
    --color4: #495057;
    --color5: #eff1fa;
    --color6: #ffffff;
    --color7: #343A40;
}

/* Modo dark */

@media (prefers-color-scheme: dark) {
    :root {
        --color1: #1a1a1a;
        --color2: #ffffff;
        --color3: #ffffff;
        --color4: #c7c7c7;
        --color5: #3c3c3c;
        --color6: #252525;
        --color7: #ffffff;
    }
}

body {
    font-family: 'Inter', sans-serif;
}