/* Desktop */

@media screen and (min-width:769px) {
    body {
        width: 100%;
    }

    main {
        display: grid;
        grid-template-areas:
            "header aside"
            "article aside"
            "footer footer";
        grid-template-rows: 168px auto auto;
        grid-template-columns: 2fr 1fr;
    }

    header img {
        margin: 40px 125px 80px 84px;
    }

    article {
        margin-left: 240px;
    }

    aside {
        width: 344px;
    }
}

/* Tableta y Celular */

@media screen and (max-width:768px) {
    body {
        width: 768px;
    }

    main {
        display: grid;
        grid-template-areas:
            "header"
            "article"
            "aside"
            "footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    header img {
        margin: 72px 40px 40px 40px;
    }

    article {
        margin-left: 40px;
    }

    aside {
        width: 688px;
    }
}

/* Desktop y Tableta */

@media screen and (min-width:376px) {
    .input-area {
        width: 680px;
        height: 50vh;
    }

    .botonera {
        flex-direction: row;
    }

    footer {
        padding: 48px 24px 48px 24px;
        height: 64px;
    }
}

/* Celular */

@media screen and (max-width:375px) {
    body {
        width: 375px;
    }

    header img {
        margin: 24px 24px 24px 16px;
    }

    article {
        margin-left: 16px;
    }

    .input-area {
        width: 324px;
    }

    .botonera {
        flex-direction: column;
    }

    aside {
        width: 327px;
    }

    footer {
        flex-direction: column;
        padding: 16px 0 16px 0;
        height: auto;
    }
}