/* Modo light */

:root {
    font-size: 16px;

    --color1: #f3f5fc;
    --color2: black;
    --color3: #0A3871;
    --color4: #495057;
    --color5: #eff1fa;
    --color6: #ffffff;
    --color7: #343A40;
}

/* Modo dark */

@media (prefers-color-scheme: dark) {
    :root {
        --color1: #1a1a1a;
        --color2: #ffffff;
        --color3: #ffffff;
        --color4: #c7c7c7;
        --color5: #3c3c3c;
        --color6: #252525;
        --color7: #ffffff;
    }
}

body {
    font-family: 'Inter', sans-serif;
}

.main {
    background: var(--color1);
    color: var(--color2);
}

.main__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    flex: 0;
    margin: 2.5rem;
}

.section--medium {
    display: flex;
    flex-direction: column;
    background: var(--color6);
    box-shadow: 0px 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.8);
    border-radius: 2rem;
}

.section__textarea {
    width: 100%;
    height: calc(100vh - 48.25rem);
    border: none;
    resize: none;
    background: var(--color1);
    font-size: 2rem;
    color: var(--color3);
    margin: 0 2rem 2rem 0;
}

.instruction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.instruction-container__icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.instruction-container__message {
    font-size: 0.75rem;
    color: var(--color4);
    opacity: 0.8;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 0 2rem 4.5rem 2rem;
}

.button {
    width: 100%;
    height: 4.1875rem;
    border-radius: 3rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.button--encrypt {
    background: #0A3871;
    color: #ffffff;
}

.button--encrypt:hover {
    background: #072B61;
}

.button--decrypt,
.button--copy {
    box-sizing: border-box;
    border: 0.0625rem solid #0A3871;
    color: #0A3871;
}

.button--decrypt:hover,
.button--copy:hover {
    background: var(--color5);
}

.button--disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.button--hidden {
    display: none;
}

.message-container {
    text-align: center;
    margin: auto;
}

.message-container__error {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color7);
}

.message-container__suggestion {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color4);
}

.message-container__image {
    display: none;
}

/* Estilos para el diseño de tablet */

@media screen and (min-width: 768px) {
    .button-container {
        flex-direction: row;
    }
}

/* Estilos para el diseño de escritorio */

@media screen and (min-width: 1025px) {
    .main__container {
        flex-direction: row;
    }

    .section {
        flex: auto;
        height: 90vh;
    }

    .section--small {
        width: 7.5rem;
    }

    .section--large {
        width: 42.5rem;
    }

    .section--medium {
        width: 25rem;
    }

    .section__textarea {
        height: calc(100vh - 15.4375rem);
    }

    .message-container {
        width: 21rem;
    }

    .message-container__image {
        display: initial;
    }
}